@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Jua&family=Noto+Serif+KR:wght@200..900&display=swap");

.main {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  padding: 100px 0;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
}
.titleContainer h1 {
  font-size: 60px;
}

.titleContainer h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #558bcf;
  margin: 12px auto 0;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}

.modalContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  /* padding-top: 100px; */
}
.modalBtn {
  background: none;
  font-family: "Gothic A1", sans-serif;
  color: #111111;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 40px;
  cursor: pointer;
  margin-right: 20px;
}

.modalBtn::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #558bcf;
  margin: 12px auto 0;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}

.modalBtn:hover::after {
  width: 60px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  padding: 24px;
}

.gridItem {
  font-family: "Noto Serif KR", serif;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.gridItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(85, 139, 207, 0.3);
  border-color: #558bcf;
}

.gridItem h1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-align: center;
}

.gridItem p {
  font-size: 0.95rem;
  color: #666;
  margin: 0;
  text-align: center;
  line-height: 1.4;
}
