.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.title {
  margin: 0 auto;
  font-size: 50px;
  padding-top: 50px;
}
.body {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 50%;
  height: 50%;
  border: 1px solid #111111;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form {
  display: flex;
  align-items: center;
  height: 80%;
  justify-content: space-around;
  flex-direction: column;
}
.formInput {
  display: flex;
  flex-direction: column;
}

.form input {
  border: none;
  font-size: 20px;
  margin: 10px 0;
  padding: 5px;
  background: #e9ecef;
}

.form button {
  border-radius: 50px;
  border: 1px solid #558bcf;
  background-color: #558bcf;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.form button:active {
  transform: scale(0.95);
}

.description {
  margin: 0 auto;
  font-size: 20px;
}

.link {
  background-color: none;
  color: #558bcf;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 25px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}
